.helpOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--anim-curve-ease-out) var(--anim-duration-long);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    &-isVisible {
        opacity: 1;
        pointer-events: all;
        
        .container {
            opacity: 1 !important;
            transform: translateY(0) !important;
        }
    }

    .containerWrapper {
        height: 0;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .containerScroll {
        padding: var(--space-large);
    }

    .container {
        flex-shrink: 0;
        background: var(--color-background);
        top: var(--space-large);
        overflow-y: auto;
        border-radius: var(--border-radius-default);
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(10px);
        transition: all var(--anim-curve-ease-out) var(--anim-duration-long);
        transition-delay: 0.1s;
        max-width: 50vw;
        min-width: 500px;
    }

    .title {
        padding: var(--space-large);
        font-size: var(--font-size-large);
        border-bottom: 1px solid var(--color-background-shade);
        margin-bottom: var(--space-large);
        font-weight: 600;
        color: var(--color-text-medium);
    }

    .divider {
        height: 1px;
        background-color: var(--color-background-shade);
    }

    .question {
        padding: 0 var(--space-large);

        .questionTitle {
            margin-bottom: var(--space-small);
            font-weight: 600;
        }

        .questionBody {
            color: var(--color-text-medium);
            line-height: 1.5;
        }
    }

    .overlayClose {
        position: absolute;
        top: calc((var(--min-mobile-tap-size) - var(--space-large)) / 2);
        right: calc((var(--min-mobile-tap-size) - var(--space-large)) / 2);
        width: var(--min-mobile-tap-size);
        height: var(--min-mobile-tap-size);
        appearance: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        padding: 0;
        margin: 0;
    
        &:hover {
            opacity: 0.7;
        }
    
        &:before {
            position: absolute;
            width: var(--space-large);
            height: var(--space-large);
            background-color: red;
            content: "";
            border-radius: 50%;
            background-color: var(--color-background-shade);
            z-index: 1;
        }
    
        svg {
            position: relative;
            z-index: 2;
    
            path {
                stroke: var(--color-text-light);
            }
        }
    }
}